<!--bootstrap validator-->
<script src="/static/js/bootstrapValidator.min.js"></script>
<script type="text/javascript">
$(function() {
    //设置选项
    $("#sidebar_product").addClass("menu-open")
    $("#sidebar_product ul").show()
    $("#sidebar_product ul li:nth-child(2)").addClass("active")
});
</script>
<script type="text/javascript">
$(function() {
    //上传图片
    var $ = jQuery,
        $list = $('#fileList'),
        // 优化retina, 在retina下这个值是2
        ratio = window.devicePixelRatio || 1,

        // 缩略图大小
        thumbnailWidth = 100 * ratio,
        thumbnailHeight = 100 * ratio,

        // Web Uploader实例
        uploader;
    // 初始化Web Uploader
    var uploader = WebUploader.create({

        // 选完文件后，是否自动上传。
        auto: true,

        // swf文件路径
        swf: '/static/Uploader.swf',

        // 文件接收服务端。
        server: '/imagehosting',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',

        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        }

    });
    uploader.options.formData.token = "token";

    // 当有文件添加进来的时候
    uploader.on('fileQueued', function(file) {
        console.log("file:", file);
        var $li = $(
                '<div id="' + file.id + '" class="file-item thumbnail">' +
                '<img>' +
                '<div class="info">' + file.name + '</div>' +
                // '<div class="info">' + file + '</div>' +
                '</div>'
            ),
            $img = $li.find('img');


        // $list为容器jQuery实例
        $list.append($li);

        // 创建缩略图
        // 如果为非图片文件，可以不用调用此方法。
        // thumbnailWidth x thumbnailHeight 为 100 x 100
        uploader.makeThumb(file, function(error, src) {
            if (error) {
                $img.replaceWith('<span>不能预览</span>');
                return;
            }
            $img.attr('src', src);
        }, thumbnailWidth, thumbnailHeight);
    });

    // 文件上传过程中创建进度条实时显示。
    uploader.on('uploadProgress', function(file, percentage) {
        var $li = $('#' + file.id),
            $percent = $li.find('.progress span');

        // 避免重复创建
        if (!$percent.length) {
            $percent = $('<p class="progress"><span></span></p>')
                .appendTo($li)
                .find('span');
        }

        $percent.css('width', percentage * 100 + '%');
    });

    // 文件上传成功，给item添加成功class, 用样式标记上传成功。
    uploader.on('uploadSuccess', function(file, response) {
        $('#' + file.id).addClass('upload-state-done');
        var res = response._raw;
        console.log(res)
    });

    // 文件上传失败，显示上传出错。
    uploader.on('uploadError', function(file) {
        var $li = $('#' + file.id),
            $error = $li.find('div.error');

        // 避免重复创建
        if (!$error.length) {
            $error = $('<div class="error"></div>').appendTo($li);
        }

        $error.text('上传失败');
    });

    // 完成上传完了，成功或者失败，先删除进度条。
    uploader.on('uploadComplete', function(file) {
        $('#' + file.id).find('.progress').remove();
    });
});
//提交内容验证
$("#addproductform").bootstrapValidator({
    message: '该值无效',
    feedbackIcons: { /*input状态样式图片*/
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
    },
    live: 'enabled',
    submitButtons: 'button[type="submit"]',
    trigger: null,
    fields: {
        name: {
            message: "该值无效",
            validators: {
                notEmpty: {
                    message: "产品名称不能为空"
                },
            }
        },
        // tastetype: {
        //     message: "该值无效",
        //     validators: {
        //         notEmpty: {
        //             message: "香型不能为空"
        //         },
        //     }
        // },
        weight: {
            message: "该值无效",
            validators: {
                notEmpty: {
                    message: "净含量不能为空"
                },
            }
        },
        alcoholic: {
            message: "该值无效",
            validators: {
                notEmpty: {
                    message: "酒精度不能为空"
                },
            }
        }
    }
})

function selTastetype() {
    var vs = $('#sel_tastetype  option:selected').val();
    $("#tastetype").val(vs);
}
</script>
