<script src="/static/js/bootstrap-paginator.js"></script>>
<script type="text/javascript">
$(function() {
    $("#sidebar_news").addClass("menu-open")
    $("#sidebar_news ul").show()
    $("#sidebar_news ul li:nth-child(1)").addClass("active")
    $("#page").bootstrapPaginator({
        currentPage: '{{.Page.PageNo}}',
        totalPages: '{{.Page.TotalPage}}',
        bootstrapMajorVersion: 3,
        size: "small",
        onPageClicked: function(e, originalEvent, type, page) {
            window.location.href = "/admin/newss?p=" + page

        }
    });
});
</script>