<!--bootstrap validator-->
<script src="/static/js/bootstrapValidator.min.js"></script>
<script src="/static/js/bootstrap-show-password.min.js"></script>
<!--密码显示-->
<script>
$(function() {
    $('.password').password().on('show.bs.password', function(e) {}).on('hide.bs.password', function(e) {});
    //设置选项
    $("#sidebar_admin").addClass("menu-open")
    $("#sidebar_admin ul").show()
    $("#sidebar_admin ul li:nth-child(2)").addClass("active")
});

function openSidebarAdmin() {
    
}
$("#loginForm").bootstrapValidator({
    message: '该值无效',
    feedbackIcons: { /*input状态样式图片*/
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
    },
    live: 'enabled',
    submitButtons: 'button[type="submit"]',
    trigger: null,
    fields: {
        account: {
            message: "该值无效",
            validators: {
                notEmpty: {
                    message: "用户名不能为空"
                },
            }
        },
        password: {
            message: "该值无效",
            validators: {
                notEmpty: {
                    message: "密码不能为空"
                },
            }
        },
        confirmpwd: {
            message: "该值无效",
            validators: {
                notEmpty: {
                    message: "确认密码不能为空"
                },
            }
        }
    }
})
</script>
