<div class="about_bg">
<div >
<img class="carousel-inner" src="/static/img/about_head.png" alt="/static/img/about_head.png">
</div>
<div class="company_profile_div">
    <h1>苏缘酒业集团简介</h1>
    <p class="about_p">黑龙江东北大高粱酒业有限公司位于黑龙江省庆安县，前身为庆安县白酒厂，是个拥有百年制酒经验的老国企，改革开放后为适应市场经济的发展需求，及根据自身的发展需求，白酒厂由国企改制成为民营股份制企业。改革的春风为企业释放出巨大活力，“大高粱”系列白酒创始于1990年，至今已畅销20余年，公司地处北纬45度的蓝天黑土无污染的大地之上，从百米高山上流淌着洁净的寒泉雪水，在这片广袤的黑土大地上种植着最优质，最绿色环保的有机大高粱，这里出产的优质糯高粱淀粉含量达到70%--80%，养分含量：脂肪3%，粗蛋白8~11%粗纤维2~3%，各项指标都达到世界之最，“中国五加鞭”酒创史于1986年，至今畅销28年。在上个世纪90年代，庆安大高粱系列白酒以及中国五加鞭系别保健酒等产品，在市场上受到了消费者的追捧，创造了业界的辉煌，那个年代的人都记得那句广告语：乔迁之喜喝庆安大高粱，新婚之喜喝庆安大高粱，喜得贵子喝庆安大高粱，喜庆丰收喝庆安大高粱，你品我尝还是庆安大高粱！同时东北大高粱酒也收获了很多荣誉：黑龙江科技进步一等奖；中国公认名牌产品；黑龙江省著名商标；中国绿色食品称号的第一酒；中国消费者协会推荐商品等</p>
    <p class="about_p">新的时代，对于食品安全我们有了更多的考虑，促使我们有了新的追求，那就是提升白酒的品质，特别是保障白酒酿造过程中的零污染，考虑到空气及水源等方面的因素，将酿酒基地建立在粮食的原生态产区是我们多年来的梦想和追求目标，经过不懈努力，及地方政府的大力支持，这一梦想终于变成了现实，公司如愿以偿的将自己的酿酒基地建立在庆安县欢胜乡，截止到目前占地面积6万余平方米，酿酒窖池32座，年白酒酿造能力达到6千吨，总投资额超过八千余万元的现代化白酒酿造基地已经屹立在庆安县欢胜乡，这里是寒地黑土的松嫩平原的中心地带，远离都市喧嚣，土地肥沃，空气清新，水质优良，这里是庆安县城市居民饮用水的水源供给地。符合最高级别的生态环境，这里盛产着水稻，高粱，玉米等粮食作物，为我们提供了充足的酿酒原料，利用这一优势我公司同农民合作社签订合作协议，从粮食作物的生长到收购的各个环节严格把关，确保用于酿酒的粮食作物符合国家最严格绿色食品标准，加上丰富的酿造经验及现代化的生产工艺及严格的管理制度酿造出了大高粱烧锅系列的优质白酒。同时获得中国著名品牌荣誉称号。</p>
    <p class="about_p">历史渊源</p>
    <p class="about_p">黑龙江东北大高粱酒业有限公司的历史可以追溯到1898年，至今一百多年的历史。建国前是私人烧酒作坊，名称为庆泉烧锅，1947年解放后收为国有，企业名称为庆安县制酒厂、庆安县白酒厂,改革开放后，1995年经过产权制度改革，企业名称改为黑龙江庆泉酿酒集团有限公司。2002年转制为民营股份制企业，企业名称改为黑龙江东北大高粱酒业有限公司。时代的发展，品牌的积淀，技艺的传承成就了今天的品质。</p>
    <p class="about_p">历代品牌</p>
    <p class="about_p">历年生产的知名产品有：“庆安白酒”、“陈酿老头倒”、“一元康夫”、“中国五加鞭”、“大高粱”、“庆安大高粱”、“庆泉大高粱”、“东北大高粱”。</p>
    <P class="about_p">传承及创新</P>
    <p class="about_p">以质量求生存，以创新求发展，一百多年的酿酒历史，经过几代富有高深技艺酿酒供工匠的传承和积累，结合现代化的酿酒工艺以及先进的检测设备，才造就了大高粱品牌的辉煌业绩，同时也成就了大高粱烧锅系列白酒优秀品质。</p>
</div>
<div class="company_glory_div">
    <h1>公司荣耀</h1>
    <h3>品味非凡 荣耀见证</h3>
    <p>1999年被黑龙江省消费者协会评为“消费正信得过单位”</p>
    <P>1998年企业成为“中国酿酒协会会员”</P>
    <P>1997年被黑龙江省工商局认定为“全省百户达标重合同，守信用企业”</P>
    <P>1997年被绥化市工商局认定为“重合同、守信用企业”</P>
    <p>1996年被黑龙江省轻工业厅命名为“白酒酿造一类企业”</p>
    <P>1995年被黑龙江省酿酒协会命名为“白酒行业排头兵企业”</P>
    <P>1994年荣获省“百强企业”称号</P>
    <P>1991年被誉为“立市县企业”</P>
    <P>198年黑龙江省人民政府命名为“省级先进企业”</P>
</div>
<div class="honor_certificate_div">
    <h1>荣誉证书</h1>
    <h3>品味非凡 荣誉见证</h3>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img src="/static/img/certificate/certificate01.jpg" alt="/static/img/certificate/certificate01.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img src="/static/img/certificate/certificate02.jpg" alt="/static/img/certificate/certificate02.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img src="/static/img/certificate/certificate03.jpg" alt="/static/img/certificate/certificate03.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img src="/static/img/certificate/certificate04.jpg" alt="/static/img/certificate/certificate04.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img src="/static/img/certificate/certificate05.jpg" alt="/static/img/certificate/certificate05.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img src="/static/img/certificate/certificate06.jpg" alt="/static/img/certificate/certificate06.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img src="/static/img/certificate/certificate07.jpg" alt="/static/img/certificate/certificate07.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
                <img src="/static/img/certificate/certificate08.jpg" alt="/static/img/certificate/certificate08.jpg">
            </div>
        </div>
    </div>
</div>
</div>