  
	    <!--尾部-->
    <footer class="home_footer_div" >
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3"   style="padding-left: 60px">
                <h4>联系我们</h4>
                <p>地址：哈尔滨市松北区滨北街24号</p>
                <p>座机：0451-84015879</p>
              </div>
              <div class="col-md-3" style="padding-left: 60px">
                <h4>企业公众号</h4>
                <img class="qr_code" src="/static/img/qr_code.jpg">
              </div>
              <div class="col-md-3"></div>
            </div>
        <div class="foot_info">
            Copyright © 2017 苏缘酒业集团版权所有 All Rights Reserved.
        </div>
    </footer>
    <script src="/static/plugins/jQuery/jquery-3.1.1.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

    {{.Scripts}}
  </body>
</html>