<div class="content_bg">
	<div>
    <ol class="breadcrumb">
      <li><a href="/admin" class="fa fa-fw fa-home header_index"></a></li>
      <li class="active">添加新闻</li>
    </ol>
  </div>

  <div class="box box-primary">
    {{if ne .Error ""}}
    <div class="alert alert-danger" role="alert">{{.Error}}</div>
    {{end}}
  	<form role="form" id="addproductform" action="/admin/addnews" method="post" enctype="multipart/form-data">
  		<div class="box-body">
          <label for="">新闻标题</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="请输入新闻标题">
        </div>
        <div class="box-body">
          <label for="">新闻简介</label>
          <input type="text" class="form-control" id="outline" name="outline" placeholder="请输入新闻简介">
        </div>
        <div class="box-body">
          <label for="">新闻预览图</label>
          <input type="file" class="form-control" id="showimg" name="showimg" accept="image/jpeg,image/jpg,image/png" />
        </div>
        <div class="box-body">
  			<textarea type="text"  name="content" id="summernote"></textarea>
  		</div>
	  	<div class="box-body">
                <button type="submit" class="btn btn-primary">添加</button>
        </div>
	</form>
  </div>

</div>