<div class="content_bg">
    <div>
        <ol class="breadcrumb">
            <li>
                <a href="/admin" class="fa fa-fw fa-home header_index"></a>
            </li>
            <li class="active">访问量</li>
        </ol>
    </div>
    <div>
        <!-- AREA CHART -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">总访问量:{{.Count}}</h3>
            </div>
            <div class="box-body">
                <div class="box-header with-border">
                    <h3 class="box-title">周统计</h3>
                </div>
                <div class="chart">
                    <canvas id="weekAreaChart" style="height: 160px; width: 100%;" width="178" height="80"></canvas>
                </div>
                <div class="box-header with-border">
                    <h3 class="box-title">年统计</h3>
                </div>
                <div class="chart">
                    <canvas id="yearAreaChart" style="height: 160px; width: 100%;" width="178" height="80"></canvas>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
