<div class="admin_bg">
    <div>
        <ol class="breadcrumb">
            <li>
                <a href="/bs/admin" class="fa fa-fw fa-home header_index"></a>
            </li>
            <li class="active">添加模板</li>
        </ol>
    </div>
    <div class="box box-primary">
        <div class="box-body">
            <h4 class="media-heading">
                    {{.Template.Title}}
                      {{if eq .Template.FileType ".docx"}}
                        <i class="fa fa-file-word-o"></i>
                      {{else if  eq .Template.FileType ".xlsx"}}
                        <i class="fa fa-file-excel-o"></i>
                      {{end}}
                    </h4> {{.Template.Describe}}
        </div>
        <div style="float: right;margin-right: 10px">
            <a href="/bs/admin/templates" type="button" class="btn btn-primary">模板列表</a>
            <a href="/bs/admin/addtemplate" type="button" class="btn btn-primary">继续添加</a>
        </div>
    </div>
</div>
