<div class="home_bg">
    <div>
        <ol class="breadcrumb">
            <li>
                <a href="/bs" class="fa fa-fw fa-home header_index"></a>
            </li>
            <li class="active">导出记录</li>
        </ol>
    </div>
    <!--表格开始-->
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">导出记录</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!--添加入库 end-->
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                {{$p := .Page.PageNo}}
                <!--功能栏 end-->
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <!--表头 start-->
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc">名称</th>
                                    <th class="sorting">时间</th>
                                    <th class="sorting">操作</th>
                                </tr>
                            </thead>
                            <!--表头 end-->
                            <tbody>
                                <!-- odd even -->
                                {{range .Exports}}
                                <tr role="row" class="odd">
                                    <td class="sorting_1">{{.Title}}</td>
                                    <td>{{timeformatstyle1 .UTime}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a type="button" class="btn btn-info" href="/{{.Path}}">下载</a>
                                            <a type="button" class="btn btn-danger" href="/bs/export?op=del&id={{.Id}}&p={{$p}}">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <!-- 分页显示标签 -->
                        <div class="page_div">
                            <ul id="page"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!--表格结束-->
</div>
